* {
  font-family: Helvetica,Arial, sans-serif;
}

body {
  padding: 6rem;
}

.header-title {
  text-align: center;
}

.search-input {
  min-width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.searchbar-title {
  display: block;
  text-align: center;
  font-size: .9rem;
}